In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('./data./train_practice.csv')
test_df = pd.read_csv('./data./test_practice.csv')

In [3]:
train_df.index

RangeIndex(start=0, stop=5000, step=1)

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5000 non-null   int64
 1   ID          5000 non-null   object
 2   나이          5000 non-null   int64
 3   키(cm)       5000 non-null   int64
 4   몸무게(kg)     5000 non-null   int64
 5   BMI         4499 non-null   float64
 6   시력          5000 non-null   float64
 7   충치          5000 non-null   int64
 8   공복 혈당       5000 non-null   int64
 9   혈압          5000 non-null   int64
 10  중성 지방       5000 non-null   int64
 11  혈청 크레아티닌    5000 non-null   float64
 12  콜레스테롤       5000 non-null   int64
 13  고밀도지단백      5000 non-null   int64
 14  저밀도지단백      4525 non-null   float64
 15  헤모글로빈       5000 non-null   float64
 16  요 단백        5000 non-null   int64
 17  간 효소율       5000 non-null   float64
 18  label       5000 non-null   int64
dtypes: float64(6), int64(12), object(1)
memory usage: 742.3+ KB

In [5]:
train_df.head()

,Unnamed: 0,ID,나이,키(cm),몸무게(kg),BMI,시력,충치,공복 혈당,혈압,중성 지방,혈청 크레아티닌,콜레스테롤,고밀도지단백,저밀도지단백,헤모글로빈,요 단백,간 효소율,label
0,738,TRAIN_0738,30,175,90,29.39,1.2,0,85,46,75,0.9,200,37,NaN,16.3,1,0.81,1
1,2318,TRAIN_2318,60,150,50,NaN,0.6,0,86,46,74,0.8,235,55,165.0,13.9,1,2.27,0
2,2743,TRAIN_2743,40,150,45,20.00,1.2,0,71,40,64,0.7,233,65,155.0,14.0,1,1.59,0
3,3725,TRAIN_3725,30,170,70,24.22,1.2,1,98,50,111,1.2,208,66,119.0,15.4,1,0.75,0
4,4544,TRAIN_4544,70,165,70,NaN,0.9,1,103,53,171,1.0,217,55,128.0,15.6,1,0.69,0

In [6]:
train_df.isna().sum()

Unnamed: 0      0
ID              0
나이              0
키(cm)           0
몸무게(kg)         0
BMI           501
시력              0
충치              0
공복 혈당           0
혈압              0
중성 지방           0
혈청 크레아티닌        0
콜레스테롤           0
고밀도지단백          0
저밀도지단백        475
헤모글로빈           0
요 단백            0
간 효소율           0
label           0
dtype: int64